<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>AppIcon.incs</string>
	<key>HaloFirebaseAPIKey</key>
	<string>$(HALO_FIREBASE_API_KEY)</string>
	<key>HaloLicenseSeatProductSlug</key>
	<string>$(HALO_LICENSESEAT_PUBLISHABLE_KEY)</string>
	<key>HaloLicenseSeatPublishableKey</key>
	<string>$(HALO_LICENSESEAT_PRODUCT_SLUG)</string>
</dict>
</plist>
