<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>AppIcon.incs</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Halo reads paired and connected Bluetooth device state to show optional Context Interface and Closed Notch connection status.</string>
	<key>HaloFirebaseAPIKey</key>
	<string></string>
	<key>HaloLicenseSeatPublishableKey</key>
	<string></string>
	<key>HaloLicenseSeatProductSlug</key>
	<string>halo</string>
</dict>
</plist>
